/**
 * Most of these are defined by the navbar module, but we make some changes.
 */

 /* Menu - a littl different due to overlap with top menu item */
.navbar-box .navbar-icon-navigation:before {
  background-image: url("../images/icon-menu.png");
}
.navbar-box .navbar-icon-navigation:active:before,
.navbar-box .navbar-icon-navigation.active:before {
  background-image: url("../images/icon-menu-active.png");
}

/* Users */
.navbar-icon-users:before {
  background-image: url("../images/icon-users.png");
}
.navbar-icon-users:active:before,
.navbar-icon-users.active:before {
  background-image: url("../images/icon-users-active.png");
}

/* Advanced */
.navbar-icon-advanced:before {
  background-image: url("../images/icon-advanced.png");
}
.navbar-icon-advanced:active:before,
.navbar-icon-advanced.active:before {
  background-image: url("../images/icon-advanced-active.png");
}