<h2>Main Menu</h2>
<p>All functionality of the site can be accessed through six key sections.</p>

<img alt="" src="path:images/main-menu-horiz.png" />

<p>
  <dl>
    <dt>Content</dt>
    <dd>Create, moderate, and edit content. </dd>

    <dt>Menu</dt>
    <dd>Rearrange your site's navigation. </dd>
    
    <dt>Apps</dt>
    <dd>Add new features to your site or configure existing features. </dd>
    
    <dt>Users</dt>
    <dd>Add and remove users from your site. </dd>
    
    <dt>Reports</dt>
    <dd>View reports about your site's health. </dd>
    
    <dt>Help</dt>
    <dd>Learn how to use your site or request help. </dd>
    
  </dl>
</p>

<h2>Your Account</h2>
<p>In addition, you can access information about your account by clicking on your username.</p>

<img alt="" src="path:images/user-menu-horiz.png" />

<p>
  <dl>
    <dt>View account</dt>
    <dd>View and update your user account. </dd>

    <dt>Logout</dt>
    <dd>Terminate your session. </dd>
  </dl>
</p>

<h2>Reorient the Menu</h2>
<p>By clicking on the arrow in the right on the menu, you can move the menu to the left.</p>
<img alt="vertical orientation" src="path:images/left.png" />

<p>You can return to the horizontal layout by clicking the up button at the bottom of the menu.</p>
<img alt="horizontal orientation" src="path:images/main-menu-vert.png" />
